body {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 90%;
  width: 90%;
  margin: auto;
  height: 700px;
  border: 5px solid black;
  margin-top: 10px;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}

#menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: olive;
  z-index: 1;
  display: block;
}

#controls {
  display: block;
}

#character {
  width: 100px;
  height: 200px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  background-color: blue;
  animation-name: null;
  animation-iteration-count: 1;
  animation-duration: 2s;
}



#enemt {
  width: 100px;
  height: 100px;
  right: -100px;
  position: absolute;
  bottom: 100px;
  background-color: red;
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 2s;
   animation-play-state: running;
}

#enemt2 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 250px;
  right: 3000px;
  background-color: purple;
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 8s;
   animation-play-state: running;
}

#enemt3 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 450px;
  right: 3000px;
  background-color: yellow;
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 20s;
   animation-play-state: running;
}

@keyframes jump {
  0% {
    bottom: 100px;
  }
  30% {
    bottom: 300px;
  }
  70% {
    bottom: 410px;
  }
  80% {
    bottom: 300px;
  }
  100% {
    bottom: 100px;
  }
}

@keyframes duck {
  0% {
    height: 100px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 100px;
  }
}

@keyframes attack {
  0% {
    right: -100px;
  }
  100% {
    right: 1500px;
  }
}

@keyframes attack2 {
  0% {
    right: -100px;
    bottom: 450px;
  }
  25%{
    right: 300px;
    bottom: 50px;
  }
  50% {
    right: 600px;
    bottom: 450px;
  }
  75% {
    right: 900px;
    bottom: 450px;
  }
  100% {
    right: 1200px;
    bottom: 50px;
  }
}

@keyframes death {
0% {
  transform: rotate(0deg);

}

100%{
transform: rotate(359deg);
}

}
