body {
  width: 100%;
  height: 100%;
  background-color: #353535;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 152px;
  font-variant: small-caps;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 52px;
  font-variant: small-caps;
  margin-top: 10px;
  margin-bottom: 10px;
}
img.mic {
  width: 100px;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 36px;
  font-variant: small-caps;
  margin-top: 10px;
  margin-bottom: 10px;
}
li, p {
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
  list-style: none;
}
span {
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
  bottom: -60px;
  list-style: none;
  position: relative;
}

strong {
  font-size: 14px;
}
.column {
    float: left;
    width: 50%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#menuhead {
  margin-bottom: 20px;
  margin-top: 40px;
}

.wrapper {
  max-width: 90%;
  width: 90%;
  margin: auto;
  height: 700px;
  border: 5px solid black;
  margin-top: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 0px;
}

#scroller{
  position: relative;
    top: 0px;
    left: 0px;
    animation-name: null;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    z-index: 0;
    opacity: 0.7;
    display: none;
}

.scrollimg {
  height: 730px;
  width: 4000px;


}
 .enemy {
   width: 120%;
   position: relative;
 }
#cSprite {
  width: 120%;
  position: relative;
}

#menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: block;
  text-align: center;
}

#menuimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

#menuimage img {
  width: 150px;
  height: auto;
}
#controls {
  display: block;

}

#controls li {
  text-align: left;
}

#character {
  width: 150px;
  height: 150px;
  position: absolute;
  text-align: center;
  bottom: 80px;
  left: 100px;
  z-index: 1;
  /* background-color: blue; */
  animation-timing-function: ease-in;
  animation-name: null;
  animation-iteration-count: 1;
  animation-duration: 3s;
}



#enemt {
  width: 100px;
  height: 100px;
  right: -100px;
  position: absolute;
  text-align: center;
  bottom: 80px;
  /* background-color: red; */
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 0s;
   animation-play-state: running;
}

#enemt2 {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 200px;
  right: 3000px;
  text-align: center;
  /* background-color: purple; */
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 5s;
   animation-play-state: running;
}

#enemt3 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 450px;
  right: 3000px;
  text-align: center;
  /* background-color: yellow; */
  animation-timing-function: linear;
  animation-name: null;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 20s;
   animation-play-state: running;
}

#scazhitbox, #breadhitbox, #bikehitbox, #leffhitbox {
  background-color: red;
  opacity: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 90px;
  bottom: 100px;
}

@keyframes jump {
  0% {
    bottom: 80px;
  }

  50% {
    bottom: 410px;
  }

  100% {
    bottom: 80px;
  }
}

@keyframes duck {
  0% {
    height: 150px;
  }
  20% {
    height: 50px;
  }
  80% {
    height: 50px;
  }
  100% {
    height: 150px;
  }
}

@keyframes attack {
  0% {
    right: -100px;
  }
  100% {
    right: 2000px;
  }
}

@keyframes attack2 {
  0% {
    right: -100px;
    bottom: 450px;
  }
  25%{
    right: 300px;
    bottom: 50px;
  }
  50% {
    right: 600px;
    bottom: 450px;
  }
  75% {
    right: 900px;
    bottom: 450px;
  }
  100% {
    right: 1200px;
    bottom: 50px;
  }
}


@keyframes scrolling {
  0% {
    left: 0px;
  }
  100% {
    left: -4000px;
  }

}

footer {


display: block;
margin-left: auto;
margin-right: auto;
max-width: 90%;
width: 90%;
margin: auto;
}
footer p a{
  text-align: center;
  text-decoration: none;
  color: white;
}
