.gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.hide {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 768px;
  max-height: 1024px;
  position: absolute;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

video {
  display: none;
}

canvas {
  display: block;
  position: absolute;
}

#map {
  max-width: 100%;
  height: 80%;
  background-color: teal;
  display: none;
  position: relative;
  padding: 0px;
  margin: 0px;
}

#player {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  color: purple;
  display: none;
  top: -45%;
  opacity: 1;
  z-index: 100000;
  display: none;
  text-align: center;
}

#accountStuff {
  max-width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  display: block;
  text-align: center;
}

h2 {
  margin: 0px;
  position: relative;
  z-index: 1;
  color: red;
  font-size: 16px;
}

h1 {
  margin: 0px;
  margin-top: 15px;
  font-family: 'Londrina Solid', cursive;
  color: #3a3a3a;
  font-size: 44px;
}

#tapTarget {
  display: block;
  right: 30%;
  top: 40%;
  position: absolute;
  z-index: 10000;
  width: 150px;
  height: 150px;
  animation-name: null;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  cursor: pointer;
}

@keyframes shineTapped {
  0% {
    top: 40%;
  }
  50% {
    top: 10%;
  }
  60% {
    top: 12%;
  }
  100% {
    top: 80%;
    right: 0%;
  }
}

#tapTarget img {
  position: relative;
  width: 300px;
  left: -70px;
  top: -50px;
  cursor: pointer;
}

/*
#defaultCanvas0 {
  height: 80%;
  width: 768px;

  margin-right: 0px;
  margin: 0px;
  z-index: -100;
  position: relative;
  display: block;
} */

#hud {
  max-width: 768px;
  width: 100%;
  display: none;
  position: relative;
  height: 20%;
  bottom: 50px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#hud img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

#icon {
  position: absolute;
  width: 100px !important;
  height: 100px !important;
  right: 50px;
  top: 10px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  top: 0;
  left: 0;
}

.headerIMG {
  width: 90%;
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  position: relative;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  margin-left: 6px;
  margin-bottom: 3px;
}

footer p {
  margin-bottom: 0px;
  color: #3a3a3a;
}

#newAccountbtn, #rtrnAccountbtn {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 230px;
  height: 90px;
  text-align: center;
  background-color: #d1a715;
  border-color: #fce70c;
  border-width: 10px;
  border-style: outset;
  margin-top: 30px;
  cursor: pointer;
}

#howToPlay {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 60%;
  height: 30%;
  font-size: 14px;
  text-align: center;
  background-color: #d1a715;
  border-color: #fce70c;
  border-width: 10px;
  border-style: outset;
  margin-top: 30px;
  margin-bottom: 40px
}

#howToPlay h1 {
  font-size: 16px;
  width: 95%;
  padding-left: 10px;
  text-align: left;
  padding-bottom: 20px;
}

#newAccountbtn:active, #rtrnAccountbtn:active {
  border-style: inset;
}

#webcam {
  display: none;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 80%;
  text-align: center;
  bottom: 50px;
}

button {
  margin-left: auto;
  margin-right: auto;
  background-color: #d1a715;
  width: 100px;
  height: 50px;
  border-width: 5px;
  border-style: outset;
  border-color: #fce70c;
  font-family: 'Londrina Solid', cursive;
  color: #3a3a3a;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  cursor: pointer;
}

.bordermaker {
  /* width: 250px;
  position: absolute;
  height: 110px;
top: -20px;
left: -20px;
border-width: 10px;
border-style: solid;
border-color: #2d2107; */
}

.inputstuff {
  margin-top: 40px;
}

button:active {
  border-style: inset;
}

input {
  width: 200px;
  height: 50px;
  font-family: 'Londrina Solid', cursive;
  color: #3a3a3a;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-width: 3px;
  border-color: #fce70c;
}

#backtomenu {
  z-index: 10000000;
  background-color: #3054c6;
  border-color: #1b3eb4;
  position: relative;
  top: 0px;
  left: 20px;
}

#backtomap {
  z-index: 10000000;
  background-color: #3054c6;
  border-color: #1b3eb4;
  position: relative;
  top: 0px;
  left: 20px;
}

#btnLogout {
  background-color: #a53e3a;
  border-color: #8c201e;
}

#backtoGame {
  background-color: #32e01f;
  border-color: #1ea80f;
}

#namefield {
  position: relative;
  left: 20px;
  font-family: 'Londrina Solid', cursive;
  color: #fffff7;
  width: 150px;
  font-size: 48px;
  top: 5px;
}

#scoreField {
  float: right;
  font-family: 'Londrina Solid', cursive;
  color: #fffff7;
  font-size: 48px;
  margin-right: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  /* Styles go here */
  /* #defaultCanvas0 {
    left: -0%;

  } */
  #tapTarget {
    right: 40%;
    text-align: center;
  }
  #icon {
    position: absolute;
    width: 150px !important;
    height: 150px !important;
    right: 90px;
    top: 10px;
  }
  #namefield {
    position: relative;
    left: 20px;
    font-family: 'Londrina Solid', cursive;
    color: #fffff7;
    font-size: 90px;
    top: 5px;
    width: 150px;
  }
  #scoreField {
    float: right;
    font-family: 'Londrina Solid', cursive;
    color: #fffff7;
    font-size: 100px;
    margin-right: 50px;
    margin-top: 30px;
  }
  #howToPlay h1 {
    font-size: 24px;
    width: 95%;
    padding-left: 10px;
    text-align: justify;
    padding-bottom: 20px;
  }
}