.gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.hide {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 768px;
  max-height: 1024px;
  position: absolute;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: none;
}

canvas {
  display: block;
  position: absolute;
}

#map {
  max-width: 100%;
  height: 80%;
  background-color: teal;
  display: none;
  position: relative;
  padding: 0px;
  margin: 0px;
}

#player {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  color: purple;
  display: none;
  top: -45%;
  opacity: 1;
  z-index: 100000;
  display: none;
  text-align: center;
}

#accountStuff {
  max-width: 100%;
  height: 100%;
  background-color: yellow;
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  display: block;
}

h2 {
  margin: 0px;
  position: relative;
  z-index: 1;
  color: red;
  font-size: 16px;
}

h1 {
  margin: 0px;
}

#tapTarget {
  display: block;
  right: 30%;
  top: 40%;
  position: absolute;
  z-index: 10000;
  background-color: purple;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

#defaultCanvas0 {
  height: 80%;
  width: 768px;
  /* set to 0% for larger screens */
  margin-right: 0px;
  margin: 0px;
  z-index: -100;
  position: relative;
  display: block;
}

#hud {
  max-width: 768px;
  width: 100%;
  display: none;
  position: relative;
  height: 20%;
  bottom: 50px;
  background-color: blue;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  /* Styles go here */
  #defaultCanvas0 {
    left: -0%;
    /* set to 0% for larger screens */
  }
  #tapTarget {
    right: 40%;
  }
}

#webcam {
  display: none;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 80%;
  text-align: center;
  bottom: 50px;
}